# Limpieza de Dataset Consumos Medidor Principal

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
ruta = './data/Raw/medidor_principal_1138124/2017/'

In [4]:
test = pd.read_excel(ruta+'1.xlsx', engine='openpyxl', skiprows=2)

In [148]:
test.head()

,Unnamed: 0,ENERGIA ACTIVA,ENERGIA ACTIVA SIN FACTOR,ENERGIA REACTIVA,ENERGIA REACTIVA SIN FACTOR,DEMANDA ACTIVA,DEMANDA REACTIVA
0,2017-01-01 00:00:00,205.8,0.049,92.4,0.022,823.2,369.6
1,2017-01-01 00:15:00,205.8,0.049,88.2,0.021,823.2,352.8
2,2017-01-01 00:30:00,210.0,0.050,88.2,0.021,840.0,352.8
3,2017-01-01 00:45:00,205.8,0.049,84.0,0.020,823.2,336.0
4,2017-01-01 01:00:00,205.8,0.049,84.0,0.020,823.2,336.0

In [149]:
df1 = pd.read_excel(ruta+'1.xlsx', engine='openpyxl', skiprows=2)

In [150]:
df1.head()

,Unnamed: 0,ENERGIA ACTIVA,ENERGIA ACTIVA SIN FACTOR,ENERGIA REACTIVA,ENERGIA REACTIVA SIN FACTOR,DEMANDA ACTIVA,DEMANDA REACTIVA
0,2017-01-01 00:00:00,205.8,0.049,92.4,0.022,823.2,369.6
1,2017-01-01 00:15:00,205.8,0.049,88.2,0.021,823.2,352.8
2,2017-01-01 00:30:00,210.0,0.050,88.2,0.021,840.0,352.8
3,2017-01-01 00:45:00,205.8,0.049,84.0,0.020,823.2,336.0
4,2017-01-01 01:00:00,205.8,0.049,84.0,0.020,823.2,336.0

In [151]:
df2 = pd.read_excel(ruta+'2.xlsx', engine='openpyxl', skiprows=2)

In [152]:
df2.head()

,Unnamed: 0,ENERGIA ACTIVA,ENERGIA ACTIVA SIN FACTOR,ENERGIA REACTIVA,ENERGIA REACTIVA SIN FACTOR,DEMANDA ACTIVA,DEMANDA REACTIVA
0,2017-02-01 00:00:00,218.4,0.052,96.6,0.023,873.6,386.4
1,2017-02-01 00:15:00,222.6,0.053,100.8,0.024,890.4,403.2
2,2017-02-01 00:30:00,218.4,0.052,79.8,0.019,873.6,319.2
3,2017-02-01 00:45:00,214.2,0.051,84.0,0.020,856.8,336.0
4,2017-02-01 01:00:00,214.2,0.051,79.8,0.019,856.8,319.2

In [153]:
df3 = pd.read_excel(ruta+'3.xlsx', engine='openpyxl', skiprows=2)

In [154]:
df4 = pd.read_excel(ruta+'4.xlsx', engine='openpyxl', skiprows=2)

In [155]:
df5 = pd.read_excel(ruta+'5.xlsx', engine='openpyxl', skiprows=2)

In [156]:
df6 = pd.read_excel(ruta+'6.xlsx', engine='openpyxl', skiprows=2)

In [157]:
df7 = pd.read_excel(ruta+'7.xlsx', engine='openpyxl', skiprows=2)

In [158]:
df8 = pd.read_excel(ruta+'8.xlsx', engine='openpyxl', skiprows=2)

In [159]:
df9 = pd.read_excel(ruta+'9.xlsx', engine='openpyxl', skiprows=2)

In [160]:
df10 = pd.read_excel(ruta+'10.xlsx', engine='openpyxl', skiprows=2)

In [161]:
df11 = pd.read_excel(ruta+'11.xlsx', engine='openpyxl', skiprows=2)

In [162]:
df12 = pd.read_excel(ruta+'12.xlsx', engine='openpyxl', skiprows=2)

In [163]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [164]:
df

,Unnamed: 0,ENERGIA ACTIVA,ENERGIA ACTIVA SIN FACTOR,ENERGIA REACTIVA,ENERGIA REACTIVA SIN FACTOR,DEMANDA ACTIVA,DEMANDA REACTIVA
0,2017-01-01 00:00:00,205.8,0.049,92.4,0.022,823.2,369.6
1,2017-01-01 00:15:00,205.8,0.049,88.2,0.021,823.2,352.8
2,2017-01-01 00:30:00,210.0,0.050,88.2,0.021,840.0,352.8
3,2017-01-01 00:45:00,205.8,0.049,84.0,0.020,823.2,336.0
4,2017-01-01 01:00:00,205.8,0.049,84.0,0.020,823.2,336.0
...,...,...,...,...,...,...,...
3067,2018-01-01 22:45:00,193.2,0.046,71.4,0.017,772.8,285.6
3068,2018-01-01 23:00:00,193.2,0.046,71.4,0.017,772.8,285.6
3069,2018-01-01 23:15:00,193.2,0.046,75.6,0.018,772.8,302.4
3070,2018-01-01 23:30:00,189.0,0.045,79.8,0.019,756.0,319.2
3071,2018-01-01 23:45:00,193.2,0.046,79.8,0.019,772.8,319.2

In [165]:
ruta = 'C:/Users/franx/Documents/MCD/Tesis/Raw/medidor_principal_1138124/2018/'

In [166]:
ruta

'C:/Users/franx/Documents/MCD/Tesis/Raw/medidor_principal_1138124/2018/'

In [167]:
df1 = pd.read_excel(ruta+'1.xlsx', engine='openpyxl', skiprows=2)

In [168]:
df2 = pd.read_excel(ruta+'2.xlsx', engine='openpyxl', skiprows=2)

In [169]:
df3 = pd.read_excel(ruta+'3.xlsx', engine='openpyxl', skiprows=2)

In [170]:
df4 = pd.read_excel(ruta+'4.xlsx', engine='openpyxl', skiprows=2)

In [171]:
df5 = pd.read_excel(ruta+'5.xlsx', engine='openpyxl', skiprows=2)

In [172]:
df6 = pd.read_excel(ruta+'6.xlsx', engine='openpyxl', skiprows=2)

In [173]:
df7 = pd.read_excel(ruta+'7.xlsx', engine='openpyxl', skiprows=2)

In [174]:
df8 = pd.read_excel(ruta+'8.xlsx', engine='openpyxl', skiprows=2)

In [175]:
df9 = pd.read_excel(ruta+'9.xlsx', engine='openpyxl', skiprows=2)

In [176]:
df10 = pd.read_excel(ruta+'10.xlsx', engine='openpyxl', skiprows=2)

In [177]:
df11 = pd.read_excel(ruta+'11.xlsx', engine='openpyxl', skiprows=2)

In [178]:
df12 = pd.read_excel(ruta+'12.xlsx', engine='openpyxl', skiprows=2)

In [179]:
df = pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [180]:
ruta = 'C:/Users/franx/Documents/MCD/Tesis/Raw/medidor_principal_1138124/2019/'

In [181]:
ruta

'C:/Users/franx/Documents/MCD/Tesis/Raw/medidor_principal_1138124/2019/'

In [182]:
df1 = pd.read_excel(ruta+'1.xlsx', engine='openpyxl', skiprows=2)

In [183]:
df2 = pd.read_excel(ruta+'2.xlsx', engine='openpyxl', skiprows=2)

In [184]:
df3 = pd.read_excel(ruta+'3.xlsx', engine='openpyxl', skiprows=2)

In [185]:
df4 = pd.read_excel(ruta+'4.xlsx', engine='openpyxl', skiprows=2)

In [186]:
df5 = pd.read_excel(ruta+'5.xlsx', engine='openpyxl', skiprows=2)

In [187]:
df6 = pd.read_excel(ruta+'6.xlsx', engine='openpyxl', skiprows=2)

In [188]:
df7 = pd.read_excel(ruta+'7.xlsx', engine='openpyxl', skiprows=2)

In [189]:
df8 = pd.read_excel(ruta+'8.xlsx', engine='openpyxl', skiprows=2)

In [190]:
df9 = pd.read_excel(ruta+'9.xlsx', engine='openpyxl', skiprows=2)

In [191]:
df10 = pd.read_excel(ruta+'10.xlsx', engine='openpyxl', skiprows=2)

In [192]:
df11 = pd.read_excel(ruta+'11.xlsx', engine='openpyxl', skiprows=2)

In [193]:
df12 = pd.read_excel(ruta+'12.xlsx', engine='openpyxl', skiprows=2)

In [194]:
df = pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [195]:
ruta = 'C:/Users/franx/Documents/MCD/Tesis/Raw/medidor_principal_1138124/2020/'

In [196]:
ruta

'C:/Users/franx/Documents/MCD/Tesis/Raw/medidor_principal_1138124/2020/'

In [197]:
df1 = pd.read_excel(ruta+'1.xlsx', engine='openpyxl', skiprows=2)

In [198]:
df2 = pd.read_excel(ruta+'2.xlsx', engine='openpyxl', skiprows=2)

In [199]:
df3 = pd.read_excel(ruta+'3.xlsx', engine='openpyxl', skiprows=2)

In [200]:
df4 = pd.read_excel(ruta+'4.xlsx', engine='openpyxl', skiprows=2)

In [201]:
df5 = pd.read_excel(ruta+'5.xlsx', engine='openpyxl', skiprows=2)

In [202]:
df6 = pd.read_excel(ruta+'6.xlsx', engine='openpyxl', skiprows=2)

In [203]:
df7 = pd.read_excel(ruta+'7.xlsx', engine='openpyxl', skiprows=2)

In [204]:
df8 = pd.read_excel(ruta+'8.xlsx', engine='openpyxl', skiprows=2)

In [205]:
df9 = pd.read_excel(ruta+'9.xlsx', engine='openpyxl', skiprows=2)

In [206]:
df10 = pd.read_excel(ruta+'10.xlsx', engine='openpyxl', skiprows=2)

In [207]:
df11 = pd.read_excel(ruta+'11.xlsx', engine='openpyxl', skiprows=2)

In [208]:
df12 = pd.read_excel(ruta+'12.xlsx', engine='openpyxl', skiprows=2)

In [209]:
df = pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [210]:
df.shape

(141312, 7)

In [211]:
df.head()

,Unnamed: 0,ENERGIA ACTIVA,ENERGIA ACTIVA SIN FACTOR,ENERGIA REACTIVA,ENERGIA REACTIVA SIN FACTOR,DEMANDA ACTIVA,DEMANDA REACTIVA
0,2017-01-01 00:00:00,205.8,0.049,92.4,0.022,823.2,369.6
1,2017-01-01 00:15:00,205.8,0.049,88.2,0.021,823.2,352.8
2,2017-01-01 00:30:00,210.0,0.050,88.2,0.021,840.0,352.8
3,2017-01-01 00:45:00,205.8,0.049,84.0,0.020,823.2,336.0
4,2017-01-01 01:00:00,205.8,0.049,84.0,0.020,823.2,336.0

In [212]:
df.tail()

,Unnamed: 0,ENERGIA ACTIVA,ENERGIA ACTIVA SIN FACTOR,ENERGIA REACTIVA,ENERGIA REACTIVA SIN FACTOR,DEMANDA ACTIVA,DEMANDA REACTIVA
1628,2020-12-17 23:00:00,184.8,0.044,50.4,0.012,739.2,201.6
1629,2020-12-17 23:15:00,189.0,0.045,54.6,0.013,756.0,218.4
1630,2020-12-17 23:30:00,189.0,0.045,58.8,0.014,756.0,235.2
1631,2020-12-17 23:45:00,184.8,0.044,58.8,0.014,739.2,235.2
1632,2020-12-18 00:00:00,184.8,0.044,58.8,0.014,739.2,235.2

In [213]:
nombres_variables = dict()

In [214]:
nombres_variables

{}

In [215]:
nombres_variables = df.columns

In [216]:
nombres_variables

Index(['Unnamed: 0', 'ENERGIA ACTIVA', 'ENERGIA ACTIVA SIN FACTOR',
       'ENERGIA REACTIVA', 'ENERGIA REACTIVA SIN FACTOR', 'DEMANDA ACTIVA',
       'DEMANDA REACTIVA'],
      dtype='object')

In [217]:
df = df.rename(columns={'Unnamed: 0': 'tiempo', 
                        'ENERGIA ACTIVA':'energia_activa', 
                        'ENERGIA ACTIVA SIN FACTOR':'energia_activa_sin_factor',
                        'ENERGIA REACTIVA':'energia_rectiva', 
                        'ENERGIA REACTIVA SIN FACTOR':'energia_rectiva_sin_factor', 
                        'DEMANDA ACTIVA':'demanda_activa',
                        'DEMANDA REACTIVA':'demanda_reactiva'})

In [218]:
df.head()

,tiempo,energia_activa,energia_activa_sin_factor,energia_rectiva,energia_rectiva_sin_factor,demanda_activa,demanda_reactiva
0,2017-01-01 00:00:00,205.8,0.049,92.4,0.022,823.2,369.6
1,2017-01-01 00:15:00,205.8,0.049,88.2,0.021,823.2,352.8
2,2017-01-01 00:30:00,210.0,0.050,88.2,0.021,840.0,352.8
3,2017-01-01 00:45:00,205.8,0.049,84.0,0.020,823.2,336.0
4,2017-01-01 01:00:00,205.8,0.049,84.0,0.020,823.2,336.0

In [219]:
bucket = 'C:/Users/franx/Documents/MCD/Tesis/Bucket/'

In [220]:
df.to_csv(bucket+"med_principal.csv",index=False)

In [221]:
df = pd.read_csv(bucket+"med_principal.csv", encoding="utf-8")

In [222]:
df.dtypes

tiempo                         object
energia_activa                float64
energia_activa_sin_factor     float64
energia_rectiva               float64
energia_rectiva_sin_factor    float64
demanda_activa                float64
demanda_reactiva              float64
dtype: object

In [223]:
df['tiempo'] = df['tiempo'].astype('datetime64')

In [224]:
df.dtypes

tiempo                        datetime64[ns]
energia_activa                       float64
energia_activa_sin_factor            float64
energia_rectiva                      float64
energia_rectiva_sin_factor           float64
demanda_activa                       float64
demanda_reactiva                     float64
dtype: object

In [225]:
df.head()

,tiempo,energia_activa,energia_activa_sin_factor,energia_rectiva,energia_rectiva_sin_factor,demanda_activa,demanda_reactiva
0,2017-01-01 00:00:00,205.8,0.049,92.4,0.022,823.2,369.6
1,2017-01-01 00:15:00,205.8,0.049,88.2,0.021,823.2,352.8
2,2017-01-01 00:30:00,210.0,0.050,88.2,0.021,840.0,352.8
3,2017-01-01 00:45:00,205.8,0.049,84.0,0.020,823.2,336.0
4,2017-01-01 01:00:00,205.8,0.049,84.0,0.020,823.2,336.0

In [226]:
df.isnull().any(axis=1).sum()

0

In [227]:
df.isnull().any(axis=0).sum()

0

In [228]:
observ = df.shape

In [229]:
print(observ)

(141312, 7)

In [230]:
observ[0]

141312

In [231]:
observ_rest=df.drop_duplicates(keep='last').shape

In [232]:
observ_rest[0]

136897

In [233]:
x = ((observ[0] - observ_rest[0])/observ[0])*100

In [234]:
print("El procentaje de registros duplicados a eliminar es",'{:.2f}%'.format(x))

El procentaje de registros duplicados a eliminar es 3.12%

In [235]:
df.drop_duplicates(inplace=True)

In [236]:
df.shape

(136897, 7)

In [237]:
df.drop_duplicates()

,tiempo,energia_activa,energia_activa_sin_factor,energia_rectiva,energia_rectiva_sin_factor,demanda_activa,demanda_reactiva
0,2017-01-01 00:00:00,205.8,0.049,92.4,0.022,823.2,369.6
1,2017-01-01 00:15:00,205.8,0.049,88.2,0.021,823.2,352.8
2,2017-01-01 00:30:00,210.0,0.050,88.2,0.021,840.0,352.8
3,2017-01-01 00:45:00,205.8,0.049,84.0,0.020,823.2,336.0
4,2017-01-01 01:00:00,205.8,0.049,84.0,0.020,823.2,336.0
...,...,...,...,...,...,...,...
141307,2020-12-17 23:00:00,184.8,0.044,50.4,0.012,739.2,201.6
141308,2020-12-17 23:15:00,189.0,0.045,54.6,0.013,756.0,218.4
141309,2020-12-17 23:30:00,189.0,0.045,58.8,0.014,756.0,235.2
141310,2020-12-17 23:45:00,184.8,0.044,58.8,0.014,739.2,235.2
141311,2020-12-18 00:00:00,184.8,0.044,58.8,0.014,739.2,235.2

In [238]:
observ = df.shape

In [239]:
observ_rest=df.drop_duplicates(keep='last').shape

In [240]:
x = ((observ[0] - observ_rest[0])/observ[0])*100

In [241]:
print("El procentaje de registros duplicados a eliminar es",'{:.2f}%'.format(x))

El procentaje de registros duplicados a eliminar es 0.00%

In [242]:
df.head(20)

,tiempo,energia_activa,energia_activa_sin_factor,energia_rectiva,energia_rectiva_sin_factor,demanda_activa,demanda_reactiva
0,2017-01-01 00:00:00,205.8,0.049,92.4,0.022,823.2,369.6
1,2017-01-01 00:15:00,205.8,0.049,88.2,0.021,823.2,352.8
2,2017-01-01 00:30:00,210.0,0.050,88.2,0.021,840.0,352.8
3,2017-01-01 00:45:00,205.8,0.049,84.0,0.020,823.2,336.0
4,2017-01-01 01:00:00,205.8,0.049,84.0,0.020,823.2,336.0
5,2017-01-01 01:15:00,201.6,0.048,84.0,0.020,806.4,336.0
6,2017-01-01 01:30:00,205.8,0.049,88.2,0.021,823.2,352.8
7,2017-01-01 01:45:00,201.6,0.048,92.4,0.022,806.4,369.6
8,2017-01-01 02:00:00,201.6,0.048,92.4,0.022,806.4,369.6
9,2017-01-01 02:15:00,201.6,0.048,88.2,0.021,806.4,352.8
10,2017-01-01 02:30:00,197.4,0.047,88.2,0.021,789.6,352.8
11,2017-01-01 02:45:00,197.4,0.047,92.4,0.022,789.6,369.6
12,2017-01-01 03:00:00,201.6,0.048,96.6,0.023,806.4,386.4
13,2017-01-01 03:15:00,197.4,0.047,96.6,0.023,789.6,386.4
14,2017-01-01 03:30:00,201.6,0.048,88.2,0.021,806.4,352.8
15,2017-01-01 03:45:00,201.6,0.048,96.6,0.023,806.4,386.4
16,2017-01-01 04:00:00,201.6,0.048,96.6,0.023,806.4,386.4
17,2017-01-01 04:15:00,197.4,0.047,92.4,0.022,789.6,369.6
18,2017-01-01 04:30:00,197.4,0.047,100.8,0.024,789.6,403.2
19,2017-01-01 04:45:00,197.4,0.047,96.6,0.023,789.6,386.4

In [243]:
df.to_csv(bucket+"med_principal_clean.csv",index=False)

In [244]:
df['tiempo'] = pd.to_datetime(df['tiempo'])

In [245]:
df.dtypes

tiempo                        datetime64[ns]
energia_activa                       float64
energia_activa_sin_factor            float64
energia_rectiva                      float64
energia_rectiva_sin_factor           float64
demanda_activa                       float64
demanda_reactiva                     float64
dtype: object

In [246]:
df.head(20)

,tiempo,energia_activa,energia_activa_sin_factor,energia_rectiva,energia_rectiva_sin_factor,demanda_activa,demanda_reactiva
0,2017-01-01 00:00:00,205.8,0.049,92.4,0.022,823.2,369.6
1,2017-01-01 00:15:00,205.8,0.049,88.2,0.021,823.2,352.8
2,2017-01-01 00:30:00,210.0,0.050,88.2,0.021,840.0,352.8
3,2017-01-01 00:45:00,205.8,0.049,84.0,0.020,823.2,336.0
4,2017-01-01 01:00:00,205.8,0.049,84.0,0.020,823.2,336.0
5,2017-01-01 01:15:00,201.6,0.048,84.0,0.020,806.4,336.0
6,2017-01-01 01:30:00,205.8,0.049,88.2,0.021,823.2,352.8
7,2017-01-01 01:45:00,201.6,0.048,92.4,0.022,806.4,369.6
8,2017-01-01 02:00:00,201.6,0.048,92.4,0.022,806.4,369.6
9,2017-01-01 02:15:00,201.6,0.048,88.2,0.021,806.4,352.8
10,2017-01-01 02:30:00,197.4,0.047,88.2,0.021,789.6,352.8
11,2017-01-01 02:45:00,197.4,0.047,92.4,0.022,789.6,369.6
12,2017-01-01 03:00:00,201.6,0.048,96.6,0.023,806.4,386.4
13,2017-01-01 03:15:00,197.4,0.047,96.6,0.023,789.6,386.4
14,2017-01-01 03:30:00,201.6,0.048,88.2,0.021,806.4,352.8
15,2017-01-01 03:45:00,201.6,0.048,96.6,0.023,806.4,386.4
16,2017-01-01 04:00:00,201.6,0.048,96.6,0.023,806.4,386.4
17,2017-01-01 04:15:00,197.4,0.047,92.4,0.022,789.6,369.6
18,2017-01-01 04:30:00,197.4,0.047,100.8,0.024,789.6,403.2
19,2017-01-01 04:45:00,197.4,0.047,96.6,0.023,789.6,386.4

# Limpieza de Dataset Clima

In [247]:
ruta = 'C:/Users/franx/Documents/MCD/Tesis/Raw/Datos_meteorologicos_Edificio_Litoral/'

In [248]:
ruta

'C:/Users/franx/Documents/MCD/Tesis/Raw/Datos_meteorologicos_Edificio_Litoral/'

In [249]:
df = pd.read_csv(ruta+'01.csv',header=0)

In [250]:
df.head()

,N,Fecha Tiempo,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s,Bat
0,1,01/21/16 02:00:00 AM,25.817,87.9,0.0,146.0,-888.88,-888.88,4.321
1,2,01/21/16 02:10:00 AM,25.671,88.3,0.0,181.1,-888.88,-888.88,4.321
2,3,01/21/16 02:20:00 AM,25.623,88.7,0.0,164.3,-888.88,-888.88,4.321
3,4,01/21/16 02:30:00 AM,25.623,88.9,0.0,181.1,-888.88,-888.88,4.303
4,5,01/21/16 02:40:00 AM,25.598,89.1,0.0,151.6,-888.88,-888.88,4.315

In [251]:
nombres_variables = df.columns

In [252]:
nombres_variables

Index(['N', 'Fecha Tiempo', 'TempCelcius ', 'HR', 'Lluviamm', 'Dirdelviento',
       'Veldelviento_m/s', 'Velderafagas_m/s', 'Bat'],
      dtype='object')

In [253]:
df = df.rename(columns={'Fecha Tiempo':'Fecha Tiempo', 
                        'TempCelcius ':'TempCelcius', 
                        'HR':'HR', 
                        'Lluviamm':'Lluviamm', 
                        'Dirdelviento':'Dirdelviento',
                        'Veldelviento_m/s':'Veldelviento_m/s', 
                        'Velderafagas_m/s':'Velderafagas_m/s',
                        'Bat':'Bat'})

In [254]:
df.shape

(61536, 9)

In [255]:
df.drop(['N'], axis=1, inplace=True)

In [256]:
df.dtypes

Fecha Tiempo         object
TempCelcius         float64
HR                  float64
Lluviamm            float64
Dirdelviento        float64
Veldelviento_m/s    float64
Velderafagas_m/s    float64
Bat                 float64
dtype: object

In [257]:
df.head(1)

,Fecha Tiempo,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s,Bat
0,01/21/16 02:00:00 AM,25.817,87.9,0.0,146.0,-888.88,-888.88,4.321

In [258]:
df['Fecha Tiempo'] = pd.to_datetime(df['Fecha Tiempo'])

In [259]:
df1 = pd.read_csv(ruta+'02.csv',header=1, delimiter=';')

In [260]:
df1.head(2)

,N.ï¿½,Fecha Tiempo. GMT-05:00,Temp. Â°C (LGR S/N: 10450278. SEN S/N: 10431781. LBL: AmbTemp,HR. % (LGR S/N: 10450278. SEN S/N: 10431781. LBL: AmbHR),Lluvia. mm (LGR S/N: 10450278. SEN S/N: 10440752. LBL: Lluvia),DirecciÃ³n del viento. Ã¸ (LGR S/N: 10450278. SEN S/N: 10468828. LBL: Direccion del vient,Velocidad del viento. m/s (LGR S/N: 10450278. SEN S/N: 10470750. LBL: Velocidad del viento),Velocidad de RÃ¡fagas. m/s (LGR S/N: 10450278. SEN S/N: 10470750. LBL: Velocidad de rafagas
0,1,03/23/17 10:21:40 AM,30.672,71.4,0.0,130.6,1.26,1.76
1,2,03/23/17 10:31:40 AM,31.001,72.0,0.0,161.5,0.76,3.02

In [261]:
nombres_variables = df1.columns

In [262]:
nombres_variables

Index(['N.ï¿½', 'Fecha Tiempo. GMT-05:00',
       'Temp. Â°C (LGR S/N: 10450278. SEN S/N: 10431781. LBL: AmbTemp',
       'HR. % (LGR S/N: 10450278. SEN S/N: 10431781. LBL: AmbHR)',
       'Lluvia. mm (LGR S/N: 10450278. SEN S/N: 10440752. LBL: Lluvia)',
       'DirecciÃ³n del viento. Ã¸ (LGR S/N: 10450278. SEN S/N: 10468828. LBL: Direccion del vient',
       'Velocidad del viento. m/s (LGR S/N: 10450278. SEN S/N: 10470750. LBL: Velocidad del viento)',
       'Velocidad de RÃ¡fagas. m/s (LGR S/N: 10450278. SEN S/N: 10470750. LBL: Velocidad de rafagas'],
      dtype='object')

In [263]:
df1 = df1.rename(columns={'N.ï¿½':'N', 'Fecha Tiempo. GMT-05:00':'Fecha Tiempo',
                          'Temp. Â°C (LGR S/N: 10450278. SEN S/N: 10431781. LBL: AmbTemp':'TempCelcius',
                          'HR. % (LGR S/N: 10450278. SEN S/N: 10431781. LBL: AmbHR)':'HR',
                          'Lluvia. mm (LGR S/N: 10450278. SEN S/N: 10440752. LBL: Lluvia)':'Lluviamm',
                          'DirecciÃ³n del viento. Ã¸ (LGR S/N: 10450278. SEN S/N: 10468828. LBL: Direccion del vient':'Dirdelviento',
                          'Velocidad del viento. m/s (LGR S/N: 10450278. SEN S/N: 10470750. LBL: Velocidad del viento)':'Veldelviento_m/s',
                          'Velocidad de RÃ¡fagas. m/s (LGR S/N: 10450278. SEN S/N: 10470750. LBL: Velocidad de rafagas':'Velderafagas_m/s'})

In [264]:
df1.head(2)

,N,Fecha Tiempo,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s
0,1,03/23/17 10:21:40 AM,30.672,71.4,0.0,130.6,1.26,1.76
1,2,03/23/17 10:31:40 AM,31.001,72.0,0.0,161.5,0.76,3.02

In [265]:
df2 = pd.read_csv(ruta+'03.csv',header=1, delimiter=',')

In [266]:
df2.head(2)

,N.Âº,"Fecha Tiempo, GMT-05:00","Temp, Â°C (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbTemp)","HR, % (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbHR)","Lluvia, mm (LGR S/N: 10450278, SEN S/N: 10440752, LBL: Lluvia)","DirecciÃ³n del viento, Ã¸ (LGR S/N: 10450278, SEN S/N: 10468828, LBL: Direccion del viento)","Velocidad del viento, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad del viento)","Velocidad de RÃ¡fagas, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad de rafagas)"
0,1,01/20/18 03:51:40 PM,30.016,67.6,0.0,345.4,0.50,2.27
1,2,01/20/18 04:01:40 PM,29.565,66.7,0.0,16.8,0.76,2.52

In [267]:
nombres_variables = df2.columns

In [268]:
nombres_variables

Index(['N.Âº', 'Fecha Tiempo, GMT-05:00',
       'Temp, Â°C (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbTemp)',
       'HR, % (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbHR)',
       'Lluvia, mm (LGR S/N: 10450278, SEN S/N: 10440752, LBL: Lluvia)',
       'DirecciÃ³n del viento, Ã¸ (LGR S/N: 10450278, SEN S/N: 10468828, LBL: Direccion del viento)',
       'Velocidad del viento, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad del viento)',
       'Velocidad de RÃ¡fagas, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad de rafagas)'],
      dtype='object')

In [269]:
df2 = df2.rename(columns={'N.Âº':'N', 'Fecha Tiempo, GMT-05:00':'Fecha Tiempo',
                          'Temp, Â°C (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbTemp)':'TempCelcius',
                          'HR, % (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbHR)':'HR',
                          'Lluvia, mm (LGR S/N: 10450278, SEN S/N: 10440752, LBL: Lluvia)':'Lluviamm',
                          'DirecciÃ³n del viento, Ã¸ (LGR S/N: 10450278, SEN S/N: 10468828, LBL: Direccion del viento)':'Dirdelviento',
                          'Velocidad del viento, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad del viento)':'Veldelviento_m/s',
                          'Velocidad de RÃ¡fagas, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad de rafagas)':'Velderafagas_m/s'})

In [270]:
df2.head(2)

,N,Fecha Tiempo,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s
0,1,01/20/18 03:51:40 PM,30.016,67.6,0.0,345.4,0.50,2.27
1,2,01/20/18 04:01:40 PM,29.565,66.7,0.0,16.8,0.76,2.52

In [271]:
df3 = pd.read_csv(ruta+'04.csv',header=1, delimiter=';')

In [272]:
df3.head(2)

,N.Âº,"Fecha Tiempo, GMT-05:00","Temp, Â°C (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbTemp)","HR, % (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbHR)","Lluvia, mm (LGR S/N: 10450278, SEN S/N: 10440752, LBL: Lluvia)","DirecciÃ³n del viento, Ã¸ (LGR S/N: 10450278, SEN S/N: 10468828, LBL: Direccion del viento)","Velocidad del viento, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad del viento)","Velocidad de RÃ¡fagas, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad de rafagas)"
0,1,03/14/19 09:51:40 AM,26.475,96.1,0.0,108.1,0.25,2.01
1,2,03/14/19 10:01:40 AM,26.646,95.4,0.0,106.7,0.25,1.76

In [273]:
nombres_variables = df3.columns

In [274]:
nombres_variables

Index(['N.Âº', 'Fecha Tiempo, GMT-05:00',
       'Temp, Â°C (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbTemp)',
       'HR, % (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbHR)',
       'Lluvia, mm (LGR S/N: 10450278, SEN S/N: 10440752, LBL: Lluvia)',
       'DirecciÃ³n del viento, Ã¸ (LGR S/N: 10450278, SEN S/N: 10468828, LBL: Direccion del viento)',
       'Velocidad del viento, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad del viento)',
       'Velocidad de RÃ¡fagas, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad de rafagas)'],
      dtype='object')

In [275]:
df3 = df3.rename(columns={'N.Âº':'N', 'Fecha Tiempo, GMT-05:00':'Fecha Tiempo',
                          'Temp, Â°C (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbTemp)':'TempCelcius',
                          'HR, % (LGR S/N: 10450278, SEN S/N: 10431781, LBL: AmbHR)':'HR',
                          'Lluvia, mm (LGR S/N: 10450278, SEN S/N: 10440752, LBL: Lluvia)':'Lluviamm',
                          'DirecciÃ³n del viento, Ã¸ (LGR S/N: 10450278, SEN S/N: 10468828, LBL: Direccion del viento)':'Dirdelviento',
                          'Velocidad del viento, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad del viento)':'Veldelviento_m/s',
                          'Velocidad de RÃ¡fagas, m/s (LGR S/N: 10450278, SEN S/N: 10470750, LBL: Velocidad de rafagas)':'Velderafagas_m/s'})

In [276]:
df1.drop(['N'], axis=1, inplace=True)

In [277]:
df2.drop(['N'], axis=1, inplace=True)

In [278]:
df3.drop(['N'], axis=1, inplace=True)

In [279]:
df.head(2)

,Fecha Tiempo,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s,Bat
0,2016-01-21 02:00:00,25.817,87.9,0.0,146.0,-888.88,-888.88,4.321
1,2016-01-21 02:10:00,25.671,88.3,0.0,181.1,-888.88,-888.88,4.321

In [280]:
df1.head(2)

,Fecha Tiempo,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s
0,03/23/17 10:21:40 AM,30.672,71.4,0.0,130.6,1.26,1.76
1,03/23/17 10:31:40 AM,31.001,72.0,0.0,161.5,0.76,3.02

In [281]:
df2.head(2)

,Fecha Tiempo,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s
0,01/20/18 03:51:40 PM,30.016,67.6,0.0,345.4,0.50,2.27
1,01/20/18 04:01:40 PM,29.565,66.7,0.0,16.8,0.76,2.52

In [282]:
df3.head(2)

,Fecha Tiempo,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s
0,03/14/19 09:51:40 AM,26.475,96.1,0.0,108.1,0.25,2.01
1,03/14/19 10:01:40 AM,26.646,95.4,0.0,106.7,0.25,1.76

In [283]:
dfn = pd.concat([df, df1,df2, df3])

In [284]:
dfn

,Fecha Tiempo,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s,Bat
0,2016-01-21 02:00:00,25.817,87.9,0.0,146.0,-888.88,-888.88,4.321
1,2016-01-21 02:10:00,25.671,88.3,0.0,181.1,-888.88,-888.88,4.321
2,2016-01-21 02:20:00,25.623,88.7,0.0,164.3,-888.88,-888.88,4.321
3,2016-01-21 02:30:00,25.623,88.9,0.0,181.1,-888.88,-888.88,4.303
4,2016-01-21 02:40:00,25.598,89.1,0.0,151.6,-888.88,-888.88,4.315
...,...,...,...,...,...,...,...,...
72141,07/27/20 09:21:40 AM,22.968,87.0,0.0,178.3,1.26,4.03,NaN
72142,07/27/20 09:31:40 AM,23.328,86.9,0.0,185.3,1.26,3.27,NaN
72143,07/27/20 09:41:40 AM,23.809,85.6,0.0,116.5,0.76,2.77,NaN
72144,07/27/20 09:51:40 AM,23.593,85.4,0.0,186.7,1.26,3.27,NaN
72145,07/27/20 10:01:40 AM,24.219,85.2,0.0,127.8,0.50,2.01,NaN

In [285]:
dfn = dfn.rename(columns={'Fecha Tiempo':'tiempo'})

In [286]:
dfn['tiempo'] = pd.to_datetime(dfn['tiempo'])

In [287]:
dfn

,tiempo,TempCelcius,HR,Lluviamm,Dirdelviento,Veldelviento_m/s,Velderafagas_m/s,Bat
0,2016-01-21 02:00:00,25.817,87.9,0.0,146.0,-888.88,-888.88,4.321
1,2016-01-21 02:10:00,25.671,88.3,0.0,181.1,-888.88,-888.88,4.321
2,2016-01-21 02:20:00,25.623,88.7,0.0,164.3,-888.88,-888.88,4.321
3,2016-01-21 02:30:00,25.623,88.9,0.0,181.1,-888.88,-888.88,4.303
4,2016-01-21 02:40:00,25.598,89.1,0.0,151.6,-888.88,-888.88,4.315
...,...,...,...,...,...,...,...,...
72141,2020-07-27 09:21:40,22.968,87.0,0.0,178.3,1.26,4.03,NaN
72142,2020-07-27 09:31:40,23.328,86.9,0.0,185.3,1.26,3.27,NaN
72143,2020-07-27 09:41:40,23.809,85.6,0.0,116.5,0.76,2.77,NaN
72144,2020-07-27 09:51:40,23.593,85.4,0.0,186.7,1.26,3.27,NaN
72145,2020-07-27 10:01:40,24.219,85.2,0.0,127.8,0.50,2.01,NaN

In [288]:
dfn.isna().any(axis=1).sum()

193401

In [289]:
dfn.isna().any(axis=0)

tiempo              False
TempCelcius         False
HR                  False
Lluviamm            False
Dirdelviento        False
Veldelviento_m/s    False
Velderafagas_m/s    False
Bat                  True
dtype: bool

In [290]:
dfn.isnull().any(axis=1).sum()

193401

In [291]:
dfn.to_csv(bucket+"data_met_edif_lit.csv",index=False)

In [292]:
dfn.drop(['Bat'], axis=1, inplace=True)

In [293]:
dfn.isna().any(axis=1).sum()

0

In [294]:
dfn.isna().any(axis=0)

tiempo              False
TempCelcius         False
HR                  False
Lluviamm            False
Dirdelviento        False
Veldelviento_m/s    False
Velderafagas_m/s    False
dtype: bool

In [295]:
dfn.shape

(254937, 7)

In [296]:
df.shape

(61536, 8)

In [297]:
observ = dfn.shape

In [298]:
observ_rest=dfn.drop_duplicates(keep='last').shape

In [299]:
x = ((observ[0] - observ_rest[0])/observ[0])*100

In [300]:
print("El procentaje de registros duplicados a eliminar es",'{:.2f}%'.format(x))

El procentaje de registros duplicados a eliminar es 4.54%

In [301]:
dfn.drop_duplicates(inplace=True)

In [302]:
observ = dfn.shape

In [303]:
observ_rest=dfn.drop_duplicates(keep='last').shape

In [304]:
x = ((observ[0] - observ_rest[0])/observ[0])*100

In [305]:
print("El procentaje de registros duplicados a eliminar es",'{:.2f}%'.format(x))

El procentaje de registros duplicados a eliminar es 0.00%

In [306]:
dfn.to_csv(bucket+"data_met_edif_lit_clean.csv",index=False)

# Limpieza de dataset datos meteorologicos ESPOL

In [307]:
ruta = 'C:/Users/franx/Documents/MCD/Tesis/Raw/Datos_meteorologicos_ESPOL/'

In [308]:
ruta

'C:/Users/franx/Documents/MCD/Tesis/Raw/Datos_meteorologicos_ESPOL/'

In [309]:
test = pd.read_excel(ruta+'Diciembre_2019.xlsx', engine='openpyxl',skiprows=2)

In [310]:
test

,Unnamed: 0,yyyy/mm/dd,hh:mm:ss,ï¾ŸC,V,Unnamed: 5,m/s,ï½º,m/s.1,Unnamed: 9,m/s.2,ï½º.1,Unnamed: 12,kW,ï½ºC,%,mm,hPa,ï½ºC.1
0,5,2019-12-26,05:10:00,33.2,12.4,2,1.3,140,1.9,SSE,1.9,105,05:09:44,0.002,30.3,55.65,0.0,994.4,0.2
1,6,2019-12-26,15:30:00,32.8,12.4,2,1.1,162,1.1,SSE,3.1,144,15:27:23,0.021,30.5,57.25,0.0,994.4,0.2
2,7,2019-12-26,15:40:00,32.3,12.4,2,1.3,150,1.5,SSE,4.9,88,15:39:56,0.063,30.3,57.85,0.0,994.3,0.2
3,8,2019-12-26,15:50:00,32.1,12.4,2,1.4,162,1.6,SSE,4.3,122,15:40:21,0.060,29.9,58.46,0.0,994.4,0.2
4,9,2019-12-26,16:00:00,32.0,12.4,2,1.0,176,1.4,SE,4.3,149,15:54:51,0.053,29.9,59.06,0.0,994.4,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,772,2019-12-31,23:10:00,25.1,12.9,2,0.7,299,0.8,WNW,3.7,273,23:02:51,0.000,24.8,77.68,0.0,1001.5,0.1
768,773,2019-12-31,23:20:00,25.1,12.9,2,0.3,316,0.8,NW,1.9,338,23:11:33,0.000,24.7,78.79,0.0,1001.3,0.1
769,774,2019-12-31,23:30:00,25.0,12.9,2,0.1,320,0.3,NNW,1.3,309,23:27:01,0.000,24.6,79.39,0.0,1001.3,0.1
770,775,2019-12-31,23:40:00,24.9,12.9,2,0.4,311,0.4,NW,1.9,9,23:31:14,0.000,24.9,78.28,0.0,1001.3,0.1
771,776,2019-12-31,23:50:00,24.9,12.9,2,0.4,277,0.5,WNW,1.9,272,23:40:04,0.000,25.1,76.68,0.0,1001.2,0.1

In [311]:
df1 = pd.read_excel(ruta+'Diciembre_2019.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [312]:
df2 = pd.read_excel(ruta+'Enero_2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [313]:
df3 = pd.read_excel(ruta+'Febrero_2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [314]:
df4 = pd.read_excel(ruta+'Marzo_2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [315]:
df5 = pd.read_excel(ruta+'Abril2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [316]:
df6 = pd.read_excel(ruta+'Mayo2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [317]:
df7 = pd.read_excel(ruta+'Junio2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [318]:
df8 = pd.read_excel(ruta+'Julio2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [319]:
df9 = pd.read_excel(ruta+'Agosto2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [320]:
df10 = pd.read_excel(ruta+'Septiembre2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [321]:
df11 = pd.read_excel(ruta+'Octubre2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [322]:
df12 = pd.read_excel(ruta+'Noviembre2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [323]:
df13 = pd.read_excel(ruta+'Diciembre2020.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [324]:
df14 = pd.read_excel(ruta+'Enero2021.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [325]:
df15 = pd.read_excel(ruta+'Febrero2021.xlsx',sheet_name='Hoja1', engine='openpyxl', skiprows=2)

In [326]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15])

In [327]:
df.head(2)

,Unnamed: 0,yyyy/mm/dd,hh:mm:ss,ï¾ŸC,V,Unnamed: 5,m/s,ï½º,m/s.1,Unnamed: 9,m/s.2,ï½º.1,Unnamed: 12,kW,ï½ºC,%,mm,hPa,ï½ºC.1
0,5,2019-12-26,05:10:00,33.2,12.4,2,1.3,140,1.9,SSE,1.9,105,05:09:44,0.002,30.3,55.65,0.0,994.4,0.2
1,6,2019-12-26,15:30:00,32.8,12.4,2,1.1,162,1.1,SSE,3.1,144,15:27:23,0.021,30.5,57.25,0.0,994.4,0.2

In [328]:
nombres_variables = df.columns

In [329]:
nombres_variables

Index(['Unnamed: 0', 'yyyy/mm/dd', 'hh:mm:ss', 'ï¾ŸC', 'V', 'Unnamed: 5', 'm/s',
       'ï½º', 'm/s.1', 'Unnamed: 9', 'm/s.2', 'ï½º.1', 'Unnamed: 12', 'kW', 'ï½ºC',
       '%', 'mm', 'hPa', 'ï½ºC.1'],
      dtype='object')

In [330]:
df = df.rename(columns={'Unnamed: 0':'N', 
                        'yyyy/mm/dd':'fecha', 
                        'hh:mm:ss':'hora', 
                        'ï¾ŸC':'TempCelcius', 
                        'V':'PowerVolt', 
                        'Unnamed: 5':'PowerKind', 
                        'm/s':'WS(ave)_m/s',
                        'ï½º':'WD(ave)', 
                        'm/s.1':'WS(max)_m/s', 
                        'Unnamed: 9':'WD(most)', 
                        'm/s.2':'WS(inst_m)_m/s', 
                        'ï½º.1':'WD(inst_m)', 
                        'Unnamed: 12':'Max_time', 
                        'kW':'Solar_rad_kW', 
                        'ï½ºC':'Temp_Celcius',
                        '%':'HR', 
                        'mm':'Lluviamm', 
                        'hPa':'Bar_press._hPa', 
                        'ï½ºC.1':'Soil_temp'})

In [331]:
df.head()

,N,fecha,hora,TempCelcius,PowerVolt,PowerKind,WS(ave)_m/s,WD(ave),WS(max)_m/s,WD(most),WS(inst_m)_m/s,WD(inst_m),Max_time,Solar_rad_kW,Temp_Celcius,HR,Lluviamm,Bar_press._hPa,Soil_temp
0,5,2019-12-26,05:10:00,33.2,12.4,2,1.3,140,1.9,SSE,1.9,105,05:09:44,0.002,30.3,55.65,0.0,994.4,0.2
1,6,2019-12-26,15:30:00,32.8,12.4,2,1.1,162,1.1,SSE,3.1,144,15:27:23,0.021,30.5,57.25,0.0,994.4,0.2
2,7,2019-12-26,15:40:00,32.3,12.4,2,1.3,150,1.5,SSE,4.9,88,15:39:56,0.063,30.3,57.85,0.0,994.3,0.2
3,8,2019-12-26,15:50:00,32.1,12.4,2,1.4,162,1.6,SSE,4.3,122,15:40:21,0.060,29.9,58.46,0.0,994.4,0.2
4,9,2019-12-26,16:00:00,32.0,12.4,2,1.0,176,1.4,SE,4.3,149,15:54:51,0.053,29.9,59.06,0.0,994.4,0.2

In [332]:
df.to_csv(bucket+"data_met_espol.csv",index=False)

In [333]:
df.isna().any(axis=1).sum()

0

In [334]:
df.isna().any(axis=0)

N                 False
fecha             False
hora              False
TempCelcius       False
PowerVolt         False
PowerKind         False
WS(ave)_m/s       False
WD(ave)           False
WS(max)_m/s       False
WD(most)          False
WS(inst_m)_m/s    False
WD(inst_m)        False
Max_time          False
Solar_rad_kW      False
Temp_Celcius      False
HR                False
Lluviamm          False
Bar_press._hPa    False
Soil_temp         False
dtype: bool

In [335]:
df.shape

(56610, 19)

In [336]:
observ = df.shape

In [337]:
observ_rest=df.drop_duplicates(keep='last').shape

In [338]:
x = ((observ[0] - observ_rest[0])/observ[0])*100

In [339]:
print("El procentaje de registros duplicados a eliminar es",'{:.2f}%'.format(x))

El procentaje de registros duplicados a eliminar es 0.00%

In [340]:
df.drop_duplicates(inplace=True)

In [341]:
df

,N,fecha,hora,TempCelcius,PowerVolt,PowerKind,WS(ave)_m/s,WD(ave),WS(max)_m/s,WD(most),WS(inst_m)_m/s,WD(inst_m),Max_time,Solar_rad_kW,Temp_Celcius,HR,Lluviamm,Bar_press._hPa,Soil_temp
0,5,2019-12-26,05:10:00,33.2,12.4,2,1.3,140,1.9,SSE,1.9,105,05:09:44,0.002,30.3,55.65,0.0,994.4,0.2
1,6,2019-12-26,15:30:00,32.8,12.4,2,1.1,162,1.1,SSE,3.1,144,15:27:23,0.021,30.5,57.25,0.0,994.4,0.2
2,7,2019-12-26,15:40:00,32.3,12.4,2,1.3,150,1.5,SSE,4.9,88,15:39:56,0.063,30.3,57.85,0.0,994.3,0.2
3,8,2019-12-26,15:50:00,32.1,12.4,2,1.4,162,1.6,SSE,4.3,122,15:40:21,0.060,29.9,58.46,0.0,994.4,0.2
4,9,2019-12-26,16:00:00,32.0,12.4,2,1.0,176,1.4,SE,4.3,149,15:54:51,0.053,29.9,59.06,0.0,994.4,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3129,61074,2021-02-22,17:30:00,31.7,13.6,2,0.3,275,0.3,W,1.9,271,17:21:56,0.060,27.1,80.09,0.0,997.0,0.1
3130,61075,2021-02-22,17:40:00,31.1,13.7,2,0.2,272,0.3,W,1.9,273,17:31:37,0.042,27.0,80.69,0.0,997.3,0.1
3131,61076,2021-02-22,17:50:00,30.5,13.7,2,0.1,269,0.2,W,1.3,265,17:46:47,0.036,26.7,82.49,0.0,997.3,0.1
3132,61077,2021-02-22,18:00:00,30.0,13.7,2,0.1,281,0.2,W,1.3,276,17:51:48,0.032,26.7,82.39,0.0,997.3,0.1
3133,61078,2021-02-22,18:10:00,29.5,13.7,2,0.1,284,0.1,W,1.3,310,18:01:22,0.023,26.5,83.29,0.0,997.5,0.1

In [342]:
df.drop(['N'], axis=1, inplace=True)

In [343]:
df.to_csv(bucket+"data_met_espol_clean.csv",index=False)